.dropdownCheckbox.dropdownCheckboxSelect + .dropdownText::before {
    border-color: #adb5bd;
}

.dropdownCheckbox.dropdownCheckboxOpener + .dropdownText::before {
    background-color: rgba(87, 184, 95, 0.25);
    border-color: transparent;
}

.dropdownCheckbox.dropdownCheckboxOpener:not(:checked) + .dropdownText::before {
    background-image: url("@/assets/img/components/customDropdown/popup.svg");
}

.dropdownCheckbox.dropdownCheckboxOpener:checked + .dropdownText::before {
    background-image: url("@/assets/img/components/customDropdown/popup.svg");
}

.dropdownCheckbox.dropdownCheckboxSelect:checked + .dropdownText::before {
    border-color: rgba(87, 184, 95, 1);
    background-color: rgba(87, 184, 95, 1);
    background-image: url("@/assets/img/components/customDropdown/checkbox.svg");
}

.dropdownCheckbox.dropdownCheckboxSelect:focus + .dropdownText::before {
    box-shadow: 0 0 0 0.2rem rgba(87, 184, 95, 0.25);
}

.dropdownCheckbox.dropdownCheckboxSelect:not(:disabled):active + .dropdownText::before {
    background-color: rgba(87, 184, 95, 0.25);
    border-color: rgba(87, 184, 95, 0.25);
}