.dropdownCheckbox { 
    position: absolute;
    z-index: -1; 
    opacity: 0;
    width: 0;
    height: 0;
}

.dropdownCheckbox + .dropdownText::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 2em;
    border: 2px solid;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
}

.dropdownCheckbox.dropdownCheckbox.dropdownCheckboxSelect + .dropdownText {
    padding-left: 3rem;
}

.dropdownCheckbox.dropdownCheckboxSelect + .dropdownText::before {
    position: absolute;
    margin-left: -3rem;
    top: 50%;
    transform: translateY(-50%);
}

.dropdownCheckbox.dropdownCheckboxOpener + .dropdownText::before {
    margin-right: 0;
    border-radius: 50%;
    transition: 0.2s all ease;
}

.dropdownCheckbox.dropdownCheckboxOpener:checked + .dropdownText::before {
    transform: rotate(180deg);
}