.customDropdown {
    color: rgba(74, 80, 75, 1);
}

.customDropdownLarge {
    max-width: 466px;
    font-size: 1em; 
}

.customDropdownMedium {
    max-width: 350px;
    font-size: 0.9em;
}

.customDropdownSmall {
    max-width: 250px; 
    font-size: 0.8em;
}